body {
    margin: 0;
}

main {
    height: 100%;
}

.left {
    float: left;
    box-sizing: border-box;
    width: calc(100% - 831px);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contain {
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    background-image: url(/images/Group37.png);
    width: 160px;
    height: 140px;
    margin-bottom: 81px;

}

.contain input {
    color: rgba(0,0,0,1);
    font-size: 14px;
    width: 346px;
    height: 40px;
    display: block;
    border-bottom: 2px solid #eee;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    margin-bottom: 30px;

}

.right {
    background-image: url(/images/Group30.png);
    width: 831px;
    min-height: 100vh;
    float: right;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.submit {
    margin-top: 30px;
    width: 346px;
    width: 346px;
    height: 40px;
    border-radius: 4px;
    border: 0 solid rgba(151, 151, 151, 1);
    background: rgba(201, 214, 235, 1);
}

.error {
    color:red;
    font-size: 12px;
    text-align: center;
}

.submit:hover {
  background: rgba(210, 220, 250, 1);
}

.links {
  text-align: right;
  font-size: 10px;
  width: 346px;
  color: #C0C0C0;
  margin-top: 10px;
}

a:link, a:visited {
  color: #C0C0C0;
  text-decoration:none;
}

a:hover {
  color: #6C6C6C;
}